* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* font-size: 100%; */
    box-sizing: border-box;
    /* font: inherit; */
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    width: 100hw;
}

img {
    display: block;
    max-width: 100%;
}

:focus {
    outline: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    *overflow: visible;
}