@import url(./reset.css);

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap");

* {
    font-family: "Work Sans", sans-serif;
    /* border: 1px solid black; */
}

:root {
    --var_bg: transparent;
    --var_c1: rgb(34, 139, 34);
    --var_c2: #252b59;
    --var_c3: #148d8d;
    --var_b1: rgb(88, 189, 88);
    --var_b2: #3f54f7;
    --var_b3: #23b1b1;
    --var_c_txt: white;
    --var_txt: gray;
    --var_div: #aaa;
    --time: 500ms;
}

body {
    background-color: var(--var_bg);
}

#bg {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-attachment: fixed;
    /* Specify the background image to be used */
    background-size: auto;
    /* Specify the background image */
    opacity: 0.2;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem 0 1rem;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-weight: bold;
    flex-wrap: wrap;
}

.title h1 {
    font-size: 2rem;
}

.title p {
    font-size: 1.2rem;
    white-space: nowrap;
    padding-left: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 1rem;
    border-radius: 2rem;
    margin-right: 1rem;
    background-color: var(--var_c1);
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.menu p {
    margin: 0.6rem;
    font-size: 1.3rem;
    color: black;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
}

.menu p:hover {
    border-bottom: 2px solid var(--var_c1);
    transition: var(--time);
}

/* Main */

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 0 5rem 0;
}

.container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 300px;
    border: 2px solid var(--var_c1);
    margin: 2rem 1rem 2rem 1rem;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    text-align: justify;
    margin: 2rem 1rem 2rem 1rem;
}

.indent {
    text-indent: 3rem;
    margin: 5px 0 5px 0;
}

.description h1 {
    font-size: 3rem;
    margin: 0 0 1rem 0;
}

.menu-circle {
    display: flex;
    flex-direction: row;
    align-items: end;
    height: 8rem;
    width: 100%;
    justify-content: space-between;
    margin-top: 3rem;
}

.menu-circle div {
    display: flex;
    align-items: end;
    width: 8rem;
    height: 8rem;
    justify-content: center;
}

.menu-circle p {
    display: flex;
    width: 7rem;
    height: 7rem;
    border-radius: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-width: 3x;
    border-style: solid;
    color: var(--var_c_txt);
}

.menu-circle p:hover {
    width: 7.2rem;
    height: 7.2rem;
    background-color: white;
    color: black;
    transition: var(--time);
    opacity: 0.5;
    font-weight: bold;
}

.c1 {
    background-color: var(--var_c1);
    border-color: var(--var_b1);
    color: var(--var_c1);
}

.c2 {
    background-color: var(--var_c2);
    border-color: var(--var_b2);
    color: var(--var_c2);
}

.c3 {
    background-color: var(--var_c3);
    border-color: var(--var_b3);
    color: var(--var_c3);
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10rem;
    width: 100%;
    max-width: 1200px;
    border-top: 2px solid var(--var_div);
    margin: auto;
    padding: 0 1rem 0 1rem;
}

footer h2 {
    display: flex;
    flex-direction: row;
}

.icons img {
    margin: 10px;
}

h2 img {
    margin: 10px 10px 10px 0;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-block: 10px;
}

footer p {
    font-size: 1.2rem;
}

.contact {
    display: flex;
}

.icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer h2 {
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 750px) {
    .header {
        padding: 0 1rem;
        flex-direction: column;
    }

    .title {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .title p {
        padding-left: 0;
    }

    footer {
        flex-direction: column;
    }
    footer div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
